version: "3.9"

services:
  api:
    build: .
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=mongodb://admin:admin123@mongo:27017/wk_test?authSource=admin
      - JWT_SECRET=secret123
      - PORT=3001
      - NODE_ENV=development
      - JWT_SECRET=THEBESTSECRET
      - JWT_EXPIRES_IN=7d
      - CORS_ORIGIN=*
    depends_on:
      - mongo

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123
    depends_on:
      - mongo

volumes:
  mongo_data:
